
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="/tatil/images/about_banner.jpg" alt="" />
            <p>Lorem ipsum dolor</p>

        </div>
    </div>
</div>

